<label>Server name (one-way data biding)</label>
<input class="form-control" (input)="setNewServerName($event)">
<p></p>
<p>{{ newServerName }}</p>

<label>Server name (two-way data biding)</label>
<input class="form-control" (input)="setNewServerName($event)" [(ngModel)]="newServerName" >
<p>{{ newServerName }}</p>

<button class="btn btn-primary"
[disabled]='!allowNewServer'
(click)="toggleServerStatus()">
  Add Server
</button>
<p></p>
<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
<app-server *ngFor="let server of servers"></app-server>

<h3 class="text-warning">Assignment</h3>
<label>Username</label>
<input class="form-control" [(ngModel)]="username" placeholder="Type in a username">
<p>{{ username }}</p>

<button class="btn btn-warning"
[disabled]="username === ''"
(click)="username = ''">
  Reset
</button>
